.jumbotron {
	background-color: #f0f0f0;
	font-family: 'Anton', sans-serif;
}

.white-border {
	border: #ffffff solid 5px;
}

.red-pill {
	background-color: #e6563b;
}

.red-pill:hover {
	border-color: #e6563b;
	color: #e6563b;
	background-color: white;
}

.gold-pill {
	background-color: #EB9D3A;
}

.gold-pill:hover {
	border-color: #EB9D3A;
	color: #EB9D3A;
	background-color: white;
}

.green-pill {
	background-color: #7cb06c;
}

.green-pill:hover {
	border-color: #7cb06c;
	color: #7cb06c;
	background-color: white;
}

.blue-pill {
	background-color: #00aba9;
}

.blue-pill:hover {
	border-color: #00aba9;
	color: #00aba9;
	background-color: white;
}

.regular-pill {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Anton', sans-serif;
	color: white;
}

.small-pill {
	height: 25px;
	width: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Anton', sans-serif;
	font-size: 0.9rem;
}

.small-pill-group {
	width: 150px;
}

.article {
	border: 1em solid #e6e6e6;
	border-radius: 5%;
}

.article:hover {
	border: none;
	padding-bottom: 0.67em;
	border-radius: 0%;
}

body {
	font-family: 'Abel', sans-serif;
	background: #f0f0f0;
	font-size: 1.2em;
}

.wrapper {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}

.brand-name {
	font-size: 1.75em;
}

nav a {
	font-size: .75em;
	color: black;
}

.nav-background {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 59px;
	width: 100%;
	top: 37px;
	z-index: -1000;
}

nav .nav-item {
	position: relative;
	bottom: 6px;
}

#selected-work {
	text-align: center;
}

.right-col-text {
	font-family: Anton, sans-serif;
}

.right-col-img {
	border: 0.5em solid #e6e6e6;
	border-radius: 10%;
	max-width: 60px;
}

.right-col-img:hover {
	border: none;
}

@media screen and (min-width: 992px) {
	.brand-name {
		position: relative;
		top: 5px;
	}

	#selected-work {
		text-align: left;
	}
}

@media screen and (min-width: 0px) and (max-width: 575px) {
	.jumbotron > h1 {
		font-size: 1.6rem;
	}

	.jumbotron > h2 {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (min-width: 992px) {

}