body {
	background-color: #e6e6e6;
	font-family: 'Abel', sans-serif;
}

#logo-strip {
	height: 60px;
	width: 100%;
}

#work-md {
	width: 80px;
}

#blog-md {
	width: 90px;
}

.jumbotron {
	background-color: #e6e6e6;
	font-family: 'Anton', sans-serif;
}

.white-border {
	border: #ffffff solid 5px;
}

.red-pill {
	background-color: #e6563b;
}

.regular-pill {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Anton', sans-serif;
}

.small-pill {
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Anton', sans-serif;
}

.gold-pill {
	background-color: #EB9D3A;
}

.green-pill {
	background-color: #7cb06c;
}

.blue-pill {
	background-color: #00aba9;
}

.small-pill-group {
	width: 100px;
}

.article {
	max-height: 200px;

}

@media screen and (min-width: 320px) and (max-width: 760px) {
	#logo-and-strip {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	#logo {
		position: absolute;
		max-width: 130px;
		margin-top: 1.5em;
	}

	nav {
		font-size: .75rem;
	}

	.jumbotron > h1 {
		font-size: 1.6rem;
	}

	.jumbotron > h2 {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 768px) {
	.md-navbar {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	#logo-md {
		position: absolute;
		max-width: 130px;
		top: -3em;
	}

	.nav {
		position: relative;
	}

}